@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;500&family=Nunito:wght@400;500&display=swap');

/** FONTS **/
.primario {
    font-family: 'Lexend', sans-serif;
}

.secundario {
    font-family: 'Nunito', sans-serif;
}

/** SELECTOR UNIVERSAL **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** HEADER **/
header {
    background-color: #D5AA72;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    width: 50px;
    height: 50px;
    margin: 15px 15px 15px 20px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 10px 15px 15px 10px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}


/** MAIN **/
main div img {
    width: 100%;
    height: auto;
}

main section img {
    width: 500px;
    height: auto;
}


p {
    margin-top: 15px;
}

main section div div p {
    margin-left: 20px;
}

div h2 {
    margin-left: 20px;
}

li {
    font-weight: bolder;
}

.alinear {
    display: flex;
    align-items: center;
    border: solid 2px #4C2818;
    background-color: #A66A2C;
}

.hero {
    text-align: center;
    width: 100%;
    height: 80vh;
    color: white;
    font-size: 50px;
    background-image: url(../img/hero-cafeteria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div h2 {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

/** FOOTER **/
footer {
    margin-top: 50px;
    text-align: center;
}

footer div img {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;   
}